@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
}

.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("nubelson-fernandes-iE71-TMrrkE-unsplash (1).jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #3abb20f8;
  font-size: 60px;
}

nav {
  width: 50%;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 700px;
}

li {
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
}

li:hover {
  color: #d870db;
}

.arrows {
  width: 60px;
  height: 172px;
  bottom: 20px;
}

.arrows path {
  stroke: #2ef506f8;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.content-container {
  height: 100vh;
  background-color: #333;
}

.profile-container {
  color: #333;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./banner.webp");
  background-size: cover;
}

.profile-content {
  width: 30%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #d870db;
}

.name-text {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  margin-top: 15px;
}

.profile-text {
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  text-align: center;
  width: 80%;
  margin-top: 10px;
}

.profile-button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #d870db;
  color: #fff;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  margin-top: 35px;
  cursor: pointer;
}

.divider {
  width: 100%;
  border-top: 0.5px solid #bfbfbf;
  margin: 20px 0;
}

.icons-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.icon-item {
  width: 80px;
  height: auto;
}

.profile-sinopse {
  width: 430px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 17px;
}

.project-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./projectbg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-content {
  width: 75%;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
}

.position-container {
  width: 100%;
  display: flex;
}

.right {
  justify-content: flex-end;
}

.left {
  justify-content: flex-start;
}

.project-card {
  width: 700px;
  height: 200px;
  background-color: #000;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.project-card {
  animation: light 2s infinite;
}

@keyframes light {
  0% {
    width: 700px;
    height: 200px;
    background-color: #000;
    box-shadow: 9px 9px 5px #b12727;
    border-radius: 8px;
    display: flex;
    align-items: center;
    opacity: 1;
  }
  40% {
    width: 700px;
    height: 200px;
    background-color: #000;
    box-shadow: 6px 6px 5px #b12727;
    border-radius: 8px;
    display: flex;
    align-items: center;
    opacity: 1;
  }
  80% {
    width: 700px;
    height: 200px;
    background-color: #000;
    box-shadow: 6px 6px 3px #b12727;
    border-radius: 8px;
    display: flex;
    align-items: center;
    opacity: 1;
  }
  100% {
    width: 700px;
    height: 200px;
    background-color: #000;
    box-shadow: 9px 9px 3px #b12727;
    border-radius: 8px;
    display: flex;
    align-items: center;
    opacity: 1;
  }
}

@-webkit-keyframes light {
  0% {
    width: 700px;
    height: 200px;
    background-color: #000;
    box-shadow: 9px 9px 5px #b12727;
    border-radius: 8px;
    display: flex;
    align-items: center;
    opacity: 1;
  }
  40% {
    width: 700px;
    height: 200px;
    background-color: #000;
    box-shadow: 6px 6px 5px #b12727;
    border-radius: 8px;
    display: flex;
    align-items: center;
    opacity: 1;
  }
  80% {
    width: 700px;
    height: 200px;
    background-color: #000;
    box-shadow: 6px 6px 3px #b12727;
    border-radius: 8px;
    display: flex;
    align-items: center;
    opacity: 1;
  }
  100% {
    width: 700px;
    height: 200px;
    background-color: #000;
    box-shadow: 9px 9px 3px #b12727;
    border-radius: 8px;
    display: flex;
    align-items: center;
    opacity: 1;
  }
}

.card-reverse {
  flex-direction: row-reverse;
  box-shadow: -9px 9px 5px #267446;
}

.project-image {
  width: 350px;
  height: auto;
  position: relative;
  border-radius: 8px;
  right: 20px;
  top: 40px;
}

.image-reverse {
  left: 20px;
}

.project-text {
  color: #fff;
  font-family: "Oswald", sans-serif;
  margin-left: 10px;
  margin-bottom: 25px;
  margin-right: 3px;
  font-size: large;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: cadetblue;
  width: 500px;
  height: 600px;
  padding: 20px;
  border-radius: 8px;
}

.formulario {
  color: #b12727;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

label {
  display: block;
  font-size: 23px;
  color: #b12727;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

input {
  height: 33px;
  display: block;
  width: 100%;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  margin-top: 8px;
  font-size: 18px;
}

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  border-radius: 8px;
  border: none;
  margin-bottom: 7px;
  margin-top: 8px;
  padding-top: 15px;
}

button {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 8px;
  /* margin-top: 8px; */
}
